<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top__logo">
                        <a href="#"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top__social">
                        <a href="https://www.facebook.com/%C3%81rea-51-117711516768876"><i
                                class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCItC1OulNuxbaoUUXi6lbRg"><i
                                class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__option">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__option__item">
                        <h5>Acerca de:</h5>
                        <p>Formada en 2020 por Fernando Collahuazo y Manuel Vicente, Área 51 es una empresa 
                            que se especializa en reparación y mantenimiento de quipos tecnológicos</p>
                        <a href="/verAbout" class="read__more">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__option__item">
                        <h5>¿Quienes somos?</h5>
                        <p>Somos un grupo de estudiantes que nos gusta compartir nuestro conocimiento </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__option__item">
                        <h5>Nuestro trabajo</h5>
                        <ul>
                            <li><a href="#">Hay</a></li>
                            <li><a href="#">que </a></li>
                            <li><a href="#">ver</a></li>
                            <li><a href="#">que poner aqui</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="footer__copyright">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p class="footer__copyright__text">Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | This website is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a 
                            href="https://www.youtube.com/channel/UCItC1OulNuxbaoUUXi6lbRg" 
                            target="_blank">Area 51</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->