<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__nav__option">
                    <nav class="header__nav__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Inicio</a></li>
                            <li><a href="/verAbout">Sobre nosotros</a></li>
                            <li><a href="/verPortafolio">Tutoriales</a></li>
                            <!--<li><a href="/verBlogD">Services</a></li>
                            <li><a href="#">Paginas</a>
                                <ul class="dropdown">
                                    <li><a href="/verAbout">About</a></li>
                                    <li><a href="/verPortafolio">Tutoriales</a></li>
                                    <li><a href="/verBlog">Blog</a></li>
                                    <li><a href="/verBlogD">Blog Details</a></li>
                                </ul>
                            </li>-->
                            <li><a href="/verContact">Contacto</a></li>
                        </ul>
                        </ul>
                    </nav>
                    <div class="header__nav__social">
                        <a href="https://www.facebook.com/%C3%81rea-51-117711516768876"><i
                                class="fa fa-facebook"></i></a>
                        <a href="#" ><i class="fa fa-google"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCItC1OulNuxbaoUUXi6lbRg"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->