<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item set-bg" data-setbg="img/hero/heroA-1.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>Aprende sobre computación y tecnología </span>
                            <h2></h2>
                            <a href="/" class="primary-btn">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="img/hero/heroA-2.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>Tutoriales simples pero completos</span>
                            <h2></h2>
                            <a href="/verPortafolio" class="primary-btn">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="img/hero/heroA-1.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>Conoce mas sobre nosotros</span>
                            <h2></h2>
                            <a href="/verAbout" class="primary-btn">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="services__title">
                    <div class="section-title">
                        <span>Zona de Aprendizaje rapido</span>
                        <h2>¿Sabías que?</h2>
                    </div>
                    <p>A continuación, descubra atajos y trucos para hacer de
                        la navegación web algo mucho más sencillo .</p>
                    <a href="/verPortafolio" class="primary-btn">¿Le interesa tutoriales completos?</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <a href="#"><i class="social_youtube"></i></a>
                            </div>
                            <h4>¿Como descargar videos de YouTube de forma rapida?</h4>
                            <p>Si desea descargar un video de YouTube,
                                solo agregue "ss" a la URL entre www y youtube</p>
                            <h4>Ejemplo:</h4>
                            <p>https://www.ssyoutube.com/watch?v=linkvideo</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                           
                                <a href="#"><i class="icon_cloud-download_alt"></i></a>
                            </div>
                            <h4>¿Cómo saber que lo que descargo no es virus?</h4>
                            <p>Si al descargar un archivo, fíjese en la extensión (las letras luego del nombre “.”).
                                Si esta es “.exe”, es un archivo peligroso. </p>
                            <h4>Ejemplo: </h4>
                            <p>Si está descargando un archivo PDF, la extensión de este será “.pdf” </p>
                            <p>Si está descargando un archivo Word, la extensión de este será “.docx” </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                
                                <img src="img/icons/power.png" alt="">
                            </div>
                            <h4> Abre de forma más fácil tus presentaciones </h4>
                            <p>Guarde sus presentaciones de PowerPoint como 
                                "PowerPoint Show"(.ppsx) y se arbirá directamente 
                                a la presentación de siapositivas</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="img/icons/wifi.png" alt="">
                            </div>
                            <h4>¿Wifi gratis?</h4>
                            <p>Si el Wifi en un Areopuerto/Hotel tiene algun costo,
                                agregue "?.jpg" al final de cualquier URL
                                (normalmente no reirigen las imágenes) </p>
                        </div>
                    </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                
                                <img src="img/icons/word.png" alt="">
                            </div>
                            <h4>¿Como recuperar documentos Word que no guardo?</h4>
                            <p>Si cerró un archivo Word sin guardar
                                y tampoco hay copia de seguridad automática, no se 
                                preocupe, busque ".as" en el explorador de archivos
                                en "Mi PC". El documento estará allí.
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
